* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.signin_box {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_box {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 5%;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  text-align: center;
}
input {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1%;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.box_items {
  margin: 2%;
}
label {
  margin: 2%;
  font-size: medium;
}
.submit {
  padding: 5%;
  cursor: pointer;
  background-color: rgb(176, 176, 230);
  border: none;
}
.submit:hover {
  background-color: orange;
}

a {
  text-decoration: none;
  color: blue;
}
.displaynone {
  display: none;
}
.navbar {
  display: flex;
  justify-content: end;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.link {
  color: white;
  font-weight: 900;
  margin: 0% 1%;
}

.bannerbar {
  background-attachment: fixed;
  background-color: #cccccc;
  height: 1000px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 30%;
  text-align: start;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  margin: 2%;
}
.hero-text h1 {
  font-size: 5vw;
  color: transparent;
  /* -webkit-text-stroke: 0.05vw white; */
  text-transform: uppercase;
  padding-bottom: 2%;
}
.hero-text h1::before {
  content: "MOVIE+REVIEW...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: fit-content;
  color: white;
  /* -webkit-text-stroke: 0vw transparent; */
  border-right: 1px solid white;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
